.git
.github

.env
.env.*
!.env.example

vendor
node_modules

bootstrap/cache/*.php

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.idea
.vscode
.DS_Store