APP_ENV=production
APP_DEBUG=false
APP_KEY=CHANGE_IT

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=CHANGE_IT
# Load from aws Parameter store while deploying. 
# Tested only this variable
#DB_ROOT_PASSWORD=root